.App {
  text-align: center;
  background: linear-gradient(
    to bottom left,
    rgb(1, 238, 255),
    rgb(255, 0, 255)
  );
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}

.input-field {
  background: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  width: 80%;
  max-width: 300px;
}

button {
  background: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background: white;
  color: black;
}

.highlight {
  color: #ae00ff;
}

.text-message {
  margin-top: 25px;
  color: #ae00ff;
  font-weight: bold;
}

.heading {
  font-size: 45px;
}

.countdown-container{
  display: flex;
  gap: 20px;
}

.countdown-item{
  background: linear-gradient(
    to bottom left,
    rgb(1, 238, 255),
    rgb(255, 0, 255)
  );
  color: white;
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 125px;
}


.countdown-item days {
  font-size: 48px;
  font-weight: bold;
}

.countdown-item hours {
  font-size: 48px;
  font-weight: bold;
}

.countdown-item minutes {
  font-size: 48px;
  font-weight: bold;
}

.countdown-item seconds{
  font-size: 48px;
  font-weight: bold;
}


.countdown-item .label {
  font-size: 25px; 
  font-weight: bold;
  color: #a6b1e1;
}